<div 
    class="experience"
    id="experience"
>
    <h1 class='active responsive'>EXPERIENCIA</h1>

    <section>
        <h2>Full-Stack Developer Jr.</h2>
        <p><strong>Corporación LANEC</strong></p>
        <p>jul. 2023 - actualidad</p>
        <p>
            <pill-component [texto]="'Azure DevOps'"></pill-component>
            <pill-component [texto]="'JavaScript'"></pill-component>
            <pill-component [texto]="'React.js'"></pill-component>
            <pill-component [texto]="'Transact-SQL'"></pill-component>
            <pill-component [texto]="'Git'"></pill-component>
            <pill-component [texto]="'Arquitectura de software'"></pill-component>
        </p>
    </section>
    <section>
        <h2>Ingeniería en Software</h2>
        <p><strong>Universidad de Guayaquil</strong></p>
        <p>jul. 2020 - actualidad</p>
        <p>
            <pill-component [texto]="'C#'"></pill-component>
            <pill-component [texto]="'SQL'"></pill-component>
            <pill-component [texto]="'Angular'"></pill-component>
            <pill-component [texto]="'Bases de Datos'"></pill-component>
            <pill-component [texto]="'Arquitectura de software'"></pill-component>
            <pill-component [texto]="'Testing'"></pill-component>
            <pill-component [texto]="'Metodologías de desarrollo de software'"></pill-component>
        </p>
    </section>
    <section>
        <h2>Master en React</h2>
        <p><strong>Udemy</strong></p>
        <p>jun. - jul. 2023</p>
        <p>
            <pill-component [texto]="'MongoDB'"></pill-component>
            <pill-component [texto]="'Express.js'"></pill-component>
            <pill-component [texto]="'React.js'"></pill-component>
            <pill-component [texto]="'Node.js'"></pill-component>
        </p>
    </section>
    <section>
        <h2>Universidad Desarrollo Web</h2>
        <p><strong>Udemy</strong></p>
        <p>may. - jun. 2023</p>
        <p>
            <pill-component [texto]="'HTML'"></pill-component>
            <pill-component [texto]="'CSS'"></pill-component>
            <pill-component [texto]="'JavaScript'"></pill-component>
        </p>
    </section>
</div>