<div
class="projects"
id="projects"
>
<h1 class='active responsive'>PROYECTOS</h1>

<article class="article">
    <a href='https://blog-express-sigma.vercel.app/' target='_blank'>
        <img src="../../../assets/blogExpressHome.jpeg" />
        <h1>Blog Express</h1>        
        <p>Mi blog personal, donde comparto artículos sobre programación y desarrollo web,
        desarrollado enteramente con el MERN Stack
        </p>
        <pill-component [texto]="'JavaScript'"></pill-component>
        <pill-component [texto]="'React.js'"></pill-component>
        <pill-component [texto]="'Express.js'"></pill-component>
        <pill-component [texto]="'Node.js'"></pill-component>
        <pill-component [texto]="'MongoDB'"></pill-component>
        <pill-component [texto]="'API REST Full'"></pill-component>
    </a>
</article>
<article class="article">
    <a href='https://chat-express-iota.vercel.app/' target='_blank'>
        <img src="../../../assets/chatExpressHome.jpeg" />
        <h1>Chat Express</h1>        
        <p>Aplicación Web de Chat en tiempo real con React y Node.js utilizando API REST Full y Socket.io. La aplicación se basa en la interacción entre usuarios, pudiendo enviarse mensajes en tiempo real y enviar solicitudes a otras personas.</p>
        <pill-component [texto]="'C#'"></pill-component>
        <pill-component [texto]="'React.js'"></pill-component>
        <pill-component [texto]="'Node.js'"></pill-component>
        <pill-component [texto]="'Socket.io'"></pill-component>
        <pill-component [texto]="'API REST Full'"></pill-component>
        <pill-component [texto]="'SQLServer'"></pill-component>
    </a>
</article>
<article class="article">
    <a href='https://clima-express.vercel.app/' target='_blank'>
        <img src="../../../assets/climaExpressHome.png" />
        <h1>Clima Express</h1>        
        <p>La aplicacion para el clima! Clima Express es una aplicación web construida con React consume el API de WeatherApi y utiliza la libreria de Bootsrapp Icons para la parte gráfica de iconos.</p>
        <pill-component [texto]="'JavaScript'"></pill-component>
        <pill-component [texto]="'React.js'"></pill-component>
        <pill-component [texto]="'API REST Full'"></pill-component>
        <pill-component [texto]="'Bootsrapp'"></pill-component>
    </a>
</article>
</div>